#heading3 a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: var(--bg-nav-color);
    text-align: center;
}
.top_bar1 a{
    text-decoration: none;
    font-size: 15px;
    color:var(--bg-cards-color);
}
.top_bar1{
    text-align: center;
    padding: 10px;
    background-color: var(--bg-nav-color);
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    object-fit: cover; 
    margin: 0;
    background-color:var(--bg-cards-color);
    
}
.logo a{
    display:flex;
    gap: 10px;
    text-decoration: none;
    color: var(--bg-nav-color);
    font: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.links{
    display: flex;
    float:right;
    gap: 30px;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.login a{
    text-decoration: none;
    background-color: var(--bg-nav-color);
    color: var(--accent-color);
    padding: 10px;
    border-radius: 20px;
}
.links a{
    text-decoration: none;
    color: var(--bg-nav-color);
    transition: transform 0.5s ease;
}
.links a:hover{
    translate: 5px;
    transition-duration:0.5s ;
    color: var(--bg-main-color);
}

body{
    background-color:var(--bg-main-color);
    margin: 0;
}
.color a{
    color:var(--bg-cards-color);
}
#theme{
    position: absolute;
    left: 84%;
    background-color: var( --accent-color );
    outline: none;
    border: 0 solid var( --bg-nav-color);
    border-radius: 100%;
    padding: 15px;
    cursor: pointer;
    
}
footer{
    margin:0px;
    text-align: center;
    margin-top: 90px;
    background-color:var(--bg-cards-color);
    padding: 10px 0;
    margin-left: 0px;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 12px;
}
#settings{
    text-decoration: none;
    color: var(--bg-nav-color);
}
#story{
    font: bold;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 0 !important;
}
.cafe-house{
    display: flex;
    gap: 5%;
    margin-top: 60px;
    margin-left: 20px;
}
.cafe-house img{
    height:400px;
    width: 600px;
    border-radius: 20px;
}
.visit-text{
    font: bold;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.visit-text2{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.text a{
    font: bolder;
    color: var(--bg-nav-color);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.cafe-story a{
    font: bolder;
    color: var(--bg-nav-color);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text button{
    border-radius: 40px;
    padding: 10px;
    margin-top: 10px;
    background-color:var(--bg-main-color);
    cursor: pointer;
}
.text button:hover{
    background-color:var(--bg-sections-color);
    color: var(--accent-color);
    transition: all;
    transition-duration: 0.6s;
}
.cafe-story{
    display: flex;
    gap: 15px;
    padding: 40px;
    margin-bottom: 0;
    margin-top: 20px;
}
.owner img{
    width: 350px;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
}
#brand-owner{
    text-align: center;
    margin-top: 0;

}
.about-us{
    font: bold;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom:0;
    
}
.cafe p{
    margin: 0;
    padding: 0;
}
.cafe{
    padding: 0;
}



