#heading3 a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: var(--bg-nav-color);
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    object-fit: cover; 
    margin-right: 0px;
    background-color: var(--bg-cards-color);
    
}
.top_bar1 a{
    text-decoration: none;
    font-size: 15px;
    color: var(--bg-cards-color);
    
}
.top_bar1{
    text-align: center;
    padding: 10px;
    background-color: var(--bg-nav-color);
}
.logo a{
    display:flex;
    gap: 10px;
    text-decoration: none;
    color: var(--bg-nav-color);
    font: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.login a{
    text-decoration: none;
    background-color: var(--bg-nav-color);
    color:var(-accent-color);
    padding: 10px;
    border-radius: 20px;
}
.links{
    display: flex;
    float:right;
    gap: 20px;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.links a{
    text-decoration: none;
    color: var(--bg-nav-color);
}
.links a:hover{
    translate: 5px;
    transition-duration:0.5s ;
    color: var(--bg-main-color);
}
.hidden{
    display: none;
}
.toggle_btn.active{
    color:var(--accent-color);
    background-color: var(--bg-sections-color);
    padding: 13px;
}

h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
form{
    display: flex;
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.name{
    padding: 13px;
    justify-content: center;
    justify-content: space-between;
    border-color:var(-accent-color);
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:  var(--bg-cards-color);;
    outline: none;
    width: 400px;
    border: 1px solid var(--bg-main-color); /* make border line thin*/

}
.toggle_btn{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:var(-accent-color) ;
    color: var(--bg-sections-color);
    justify-self: center;
    padding: 15px;
    width: 200px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--bg-sections-color);
    padding: 13px;
}
button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: var(--bg-nav-color);
    color:var(-accent-color);
    justify-self: center;
    padding: 15px;
    width: 200px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--bg-sections-color);
    padding: 13px;
}
.name:hover{
    border-color:var(-accent-color);
    
}
body{
    background-color:var(-accent-color);
    justify-content: space-between;
    margin: 0;
}
.personal_details{
    display: flex;
    justify-content: center;
}
.personal_details button{
    display: flex;
    justify-content: center;
}
#contact_no{
    text-align: center;
}
.top_buttons{
    display:flex;
    display: block;
    justify-content: center;
    justify-self: center;
    margin-bottom: 20px;
    color: var(--bg-main-color);
}

footer{
    margin:0px;
    text-align: center;
    margin-top: 90px;
    background-color: var(--bg-cards-color);;
    padding: 10px 0;
    margin-left: 0px;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 12px;
}
#settings{
    text-decoration: none;
    color: black;
}
#textarea{
    padding-bottom: 20px;
}
.question{
    margin-top: 90px;
}
#hours{
    text-align: center;
}

