#heading3 a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: var(--bg-nav-color);
    text-align: center;
}
.top_bar1 a{
    text-decoration: none;
    font-size: 15px;
    color:var(--bg-cards-color);
}
.top_bar1{
    text-align: center;
    padding: 10px;
    background-color: var(--bg-nav-color);
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    object-fit: cover; 
    margin: 0;
    background-color:var(--bg-cards-color);
    
}
.logo a{
    display:flex;
    gap: 10px;
    text-decoration: none;
    color: var(--bg-nav-color);
    font: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.links{
    display: flex;
    float:right;
    gap: 30px;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.login a{
    text-decoration: none;
    background-color: var(--bg-nav-color);
    color: var(--accent-color);
    padding: 10px;
    border-radius: 20px;
}
.links a{
    text-decoration: none;
    color: var(--bg-nav-color);
    transition: transform 0.5s ease;
}
.links a:hover{
    translate: 5px;
    transition-duration:0.5s ;
    color: var(--bg-main-color);
}

body{
    background-color:var(--accent-color);
    margin: 0;
}
.color a{
    color:var(--bg-cards-color);
}
.faqs{

    justify-content: center;
    background-color:var(--bg-cards-color);
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:100px;
    margin-bottom: 150px;
}
.faqs:hover{
    transform: 30px;
}
details{
    border: 0.5px solid  var(--accent-color);
    padding: 10px;
    background-color: var(--bg-main-color);
    
}

footer{
    margin:0px;
    text-align: center;
    margin-top: 90px;
    background-color:var(--bg-cards-color);
    padding: 10px 0;
    margin-left: 0px;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 12px;
}
#settings{
    text-decoration: none;
    color: var(--bg-nav-color);
}
.contact_cafe{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}