#heading3 a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    object-fit: cover; 
    margin: 0;
    background-color: #f5e7c6;
    
}
.logo{
    display:flex;
    gap: 10px;
    
    
}
.links{
    display: flex;
    float:right;
    gap: 30px;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    

}
.links a{
    text-decoration: none;
    color: #000000;
    transition: transform 0.5s ease;
}
.links a:hover{
    translate: 5px;
    transition-duration:0.5s ;
    color: #faf3e1;
}

body{
    background-color:#222222;
    margin: 0;
}
.faqs{

    justify-content: center;
    background-color: #f5e7c6;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:100px;
    margin-bottom: 150px;
}
.faqs:hover{
    transform: 30px;
}
details{
    border: 0.5px solid  #e0a50f;
    padding: 10px;
    background-color: #faf3e1;
    
}

footer{
    margin:0px;
    text-align: center;
    margin-top: 90px;
    background-color: #f5e7c6;
    padding: 10px 0;
    margin-left: 0px;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 12px;
}
#settings{
    text-decoration: none;
    color: black;
}
.contact_cafe{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}