
.top_bar1{
    /* flex: 1; share space equally */
    text-align: center;
    position: absolute;
    left: 43%;
}
.top_bar2{
    /* flex: 1; share space equally */
    font-size: 15px;
    margin-left: auto; /* put it on the right*/
}
.delivery_text_bar{
    display: flex;
    align-items: center;
    background-color: #131312;
    padding: 0.2px;
    color: #f5e7c6;
}
#dev_text{
    display: flex;
    justify-self: center;
    color: #f5e7c6;
    text-decoration: none;
    font-size: 13px;
   
}
.login a{
    text-decoration: none;
    background-color: #000000;
    color: #ee7432;
    padding: 10px;
    border-radius: 20px;
}
#login_btn{
    opacity: 80%;
}

#languages{
    background-color: #f3e7ca;
    margin: 5px;
    padding: 5px;
    outline: none;
}

.links{
    display: flex;
    float:right;
    gap: 20px;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.links a{
    text-decoration: none;
    color: #000000;
}
/* @media (min-width: 400px) {
    .links{
        display: flex;
        float:right;
        width: 300px;
        gap: 4px;
    }
} */

.logo a{
    display:flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    background-color:#f3e7ca;
    margin: 0;
    padding: 0;
    
}
#heading3 a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #000000;
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    justify-items: center;
    object-fit: cover; 
    margin-right: 0px;
    
}
#welcometext{
    text-align: center;
    color: #f5e7c6;
}
#welcometext2{
    font-size: 50px;
    color: #f5e7c6;
    
}
.heading12{
    text-align: center;
    margin-bottom: 0px;
    padding: 0;
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    
}

.vidSection video{
    position:absolute;
    top:0;
    left:0;
    object-fit: cover; 
    width: 100%;
    height: 100%;
    z-index: 1;
    /*clip-path: ellipse(60% 70% at 50% 20%); /* display shape at the bottom of the vid , [width, height, positon, bottom]*/

}
.videotext{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ff6d1f;
    z-index: 10;
    
}
.videotext button{
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 179px;
    border-radius: 0;
    color:#000000;
    outline: none;
    background-color:  #ff6d1f;
    font-size: 15px;
}
.imenu{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 50px;
    background-color: #faf3e1;
    padding-bottom: 50px;
    padding-top: 50px;
   

}

.menu{
   /* position: relative; /* allows text to sit on top */
    flex-wrap: wrap;
    color: #222222;
    justify-content: space-between;
    overflow: hidden; 
    padding: 55px;
    border-radius: 10px;
    background-color: #f5e7c6;
    
    
}
.menu:hover{
    translate: 1px;
    transition-duration: 0.2s;
    
}
.menu img{
    display: flex;
    object-fit: cover;
    justify-self: center ;
    /* width: 33.33%;
    flex-grow: 1px; */
    /* z-index: 1; */
    
} 
.menu p{
    text-align: center;
    color: #ee7432;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu a{
    /*position: absolute;  /*moves text*/
    display:flex;
    width: 100px;
    color: #222222;
    text-decoration: none;
  /*  bottom: 10px;  moves text up/dow*/
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    white-space: normal;
    text-align: center;
    justify-self: center;
}


#card1 a{
    margin-top: 30px;
    
}
#card3 a{
    margin-top: 30px;
    
} 
#card2 a{
    margin-top: 0;
}
#tea{
    margin-bottom: 0;
}

footer{
    
    /* margin:0 !important; */
    text-align: center;
    margin-top: 90px;
    background-color: #f5e7c6;
    padding: 10px 0;
    margin-left: 0px;
    margin-top: -35px;
    clip-path: ellipse(90% 50% at 50% 50%);

}
.socials{
    display: flex;
    justify-content: center;
    gap: 12px;
}
#settings{
    text-decoration: none;
    color: black;
}
/* #rev_linkid{
    text-decoration: none;
    
} */

.date{
    display:flex;
    justify-items: center;
    align-items: center;
    gap:10px;

}
/* .rev_link{
    
    margin-top: 350px;
} */
#customer{
    margin-bottom: 1px;
}
.rev_buttons button{
    
    height: 30px;
    width: 80px;
    background-color: #222222;
    color: #ff6d1f;
    border-radius: 5px;
    justify-self: center;
    
}
.rev_question{
    text-align: center;
}
.rev_buttons{
    display: flex;
    gap: 10px;
    justify-self: center;
}
#feedback_text{
    margin-top: 1px;
    margin-bottom: 0px;
    
}
.review_us button{
    height: 30px;
    width: 80px;
    background-color: #ff6d1f;
    color: #222222;
    border-radius: 5px;
}
#rev{
    font-size: smaller;
    margin-bottom: 30px;
}
.cust_reviews{
    /* clip-path: ellipse(100% 60% at 50% 50%); */
    background-color:#faf3e1;
    display: flex;
    justify-content: space-between;
    padding: 80px;
    gap: 20px;
   
}
.review{
    display: flex;
    display: block;
    background-color:#f5e7c6;
    border-radius: 20px;
    padding: 30px;
}
.rev_icons{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: 150px;
    
}
.star{
    margin-left: 10px;
    
}
#rating_heading{
    font-size: 35px;
}
#fournine{
    font-size: 25px;
}
.comments{
    display: flex;
    gap: 10px;
}

.operating_hours{
    display: flex;
    gap:50px;
    background-color: #222222;
    
    /* background-image: url("pic2.jpeg"); */
}
.coffee_offers{
    color: #f5e7c6;
    font-size: 40px;
    text-align: center;
    margin: 100px;
}
#coffee{
    font-size: 20px;
}
.coffee_offers button{
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 179px;
    border-radius: 0;
    color:#ff6d1f;
    outline: #ff6d1f;
    background-color: #000000;
}
.hours{
    background-color: #faf3e1;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 90px;
    width: 200px;
    text-align: center;
    height: 95vh;
    margin-top: 40px;
    margin-left: 20px;
}

/* .hours:hover{
    translate: 10px 15px;
    transition-duration: 0.5s;
} */
#op_heading{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}
#location{
    text-decoration: none;
}
.contact{
    margin-top: 90px;
}
/* a:hover{
    translate: 5px 0px;
    transition-duration: 0.5s;
    color: #faf3e1;
} */

.subscription{
    /* background-color:#; */
    
    padding: 100px;
    /* clip-path: ellipse(90% 50% at 50% 50%); */
    margin-bottom: 0;
    background-image: url("Screenshot\ 2025-12-20\ 160056.png" ) ;
    background-size: cover;
}

#sub_text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-self: center;
    text-align: center;
}
.sub_button{
    display: block;
    margin-top: 20px;
    height: 40px;
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-self: center;
    background-color: #222222;
    color: #ff6d1f;
    
}
.credentials{
    display: flex;
    border: 1px solid;
    padding: 10px;
    justify-content: space-between;
    border-color: #faf3e1;
    font-family:Georgia, 'Times New Roman', Times, serif;
    outline: none;
    
}
.credentials:hover{
    border-color: #ee7432;
    
}

.input_text{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
   
    
}
.field{
    display: flex;
    gap: 10px;
    
}
.blurry.blurred{
    filter:blur(3px);
    pointer-events: none; /*prevents dismissing popup card when clicking on backgrownd*/
}
#popup_notification{
    display: flex;
    position: fixed;
    justify-content: center;
    display: none;
    top: -200px;
    left: 50%;
    transition: top 0.4s ease;
    transform: translateX(-50%); /*center */
    
}
#popup_notification.show{
    display: flex;
    top: 20px;
    margin-top: 50px;
}
#close_btn{
    cursor: pointer; /*make it clickable*/
    font-size: 25px;
    margin-top: 20px;
}
#popup_text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}
#brand_name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.popup_information{
    background-color: #f5e7c6;
    width: 320px;
    height: 386px;
    text-align:center;
}
.popup_img{
    margin-right: 0;
}
#email{
    padding: 10px;
    border: 1px solid #faf3e1;
    outline: none;
}
#email:hover{
    border-color: #ff6d1f;
}
.popup_information button{
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 179px;
    border-radius: 0;
    color:#ff6d1f;
    outline: #ff6d1f;
    background-color: #000000;
}
.popup_information button:hover{
    background-color: #ff6d1f;
    color: #000000;
}
.app{
    background-color: #ee7432;
    display: flex;
    margin: 0;
    padding-right: 10px;
}

.app_vid video{
    margin: 0;
    padding: 0;
}
.app_vid_btn{
    display: flex;
    gap: 10px;
}
/* .app_text{
    display: flex;
    display: block;
    justify-items: center;
} */
.store_btn{  /* inside buttons*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
    cursor: pointer;
}
.btn_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.btn_txt p{
    font-size: 12px;
    margin: 0;
}
.btn_txt{
    display: flex;
    flex-direction: column; 
    text-align: left;
    line-height: 1.2;
}
.btn_txt .store{
    font-size: 16px;
} 
.app_text button{
    
    color: #222222;
    background-color:#faf3e1 ;
    width: 180px;
    justify-self: center;
    justify-content: center;
    border: 1px solid #222222;
}

#cafetxt1{
    font-size: 70px;
}
#cafetxt2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
.left_panel{
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    margin-right:0;
    
}
.left_panel a{
    text-decoration: none;
    font-size: 30px;
    color: #f5e7c6;
    font: bold;
    opacity: 0.4;
}
.left_panel p{
    font-size: 30px;
    color: burlywood;
    font: bold;
    opacity: 0.6;
}
#qrcode{
    font-size: 15px;
    opacity: 0.7;
    color: #222222;
}
.theme{
    position: absolute;
    left: 84%;
    background-color: #ee7432;
    outline: none;
    border: 0 solid #000000;
    border-radius: 100%;
    padding: 15px;
    cursor: pointer;
    
}