body{
  background-color:var(--accent-color); 
  margin: 0;
  padding: 0;
}
.login_div{
  margin: 0;
  padding-top: 60px;
  background-color:  var(--bg-cards-color);
  width: 410px;
  height: 585px;
  text-align: center;
  
}
.web_div{
  display: flex;
  /* justify-content: space-between; */
  gap: 150px;
}
h2{
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 5px;

}
#text{
  margin-bottom:20px;
}
.login_text{
  display: flex;
  justify-content: center;
}
.login_text::before, .login_text::after{
  content: "";
  align-self: center;
  width: 70px;
  border-bottom: 1px solid var(--bg-nav-color);
  
}
.login_text::before{
  margin-right: 10px;
}
.login_text::after{
  margin-left: 10px;
}
.pass{
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  font-size: 15px;
  margin-top: 2px;
}
.cred_input label{ /*stacked input and labels*/
  display: flex;
  
}
.cred_input{
  display: flex;
  display: block;
  font-weight: bold;
  align-items: center;
  
  
}
#username{
  border-radius: 0;
  padding: 10px;
  border: 1px solid var(--bg-main-color);
  outline: none;
  width: 220px;
  
}
#email_label{
  margin-bottom:3px;
}
#user_label{
  margin-bottom:3px;
}
#pass_label{
  margin-bottom:3px;
}
#username:hover{
  border-color: var(--accent-color);
}
.cred{
  display: flex;
  display: block;
  justify-items: center;
}

button{
  justify-self: center;
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 240px;
  border-radius: 10px;
  color:var(--accent-color);
  outline: var(--accent-color);
  background-color: var(--bg-nav-color);
  margin-top: 30px;
}

.mug img{
  margin-bottom: 0;
  margin-top: 200px;
}
.mug{
  /* clip-path: ellipse(70% 50% at 20% 60%); */
  color: var(--bg-cards-color);
}
#purple{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}
#logintxt{

  font-size: 70px;
  text-align: center;
}
.line{
  background-color: var(--bg-main-color);
  margin-top: 5px;
}
