body{
  background-color:#ff6d1f; 
  margin: 0;
  padding: 0;
}
.login_div{
  margin: 0;
  background-color:  #f5e7c6;
  width: 410px;
  height: 585px;
  text-align: center;
  
}
.web_div{
  display: flex;
  /* justify-content: space-between; */
  gap: 150px;
}
h2{
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 5px;

}
#text{
  margin-bottom:20px;
}
.login_text{
  display: flex;
  justify-content: center;
}
.login_text::before, .login_text::after{
  content: "";
  align-self: center;
  width: 70px;
  border-bottom: 1px solid #000000;
  
}
.login_text::before{
  margin-right: 10px;
}
.login_text::after{
  margin-left: 10px;
}
.pass{
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  font-size: 15px;
  margin-top: 2px;
}
.cred_input label{ /*stacked input and labels*/
  display: flex;
  
}
.cred_input{
  display: flex;
  display: block;
  font-weight: bold;
  align-items: center;
  
  
}
#username{
  border-radius: 0;
  padding: 10px;
  border: 1px solid #faf3e1;
  outline: none;
  width: 220px;
  
}
#user_label{
  margin-bottom:3px;
}
#pass_label{
  margin-bottom:3px;
}
#username:hover{
  border-color: #ff6d1f;
}
.cred{
  display: flex;
  display: block;
  justify-items: center;
}

button{
  justify-self: center;
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 240px;
  border-radius: 10px;
  color:#ff6d1f;
  outline: #ff6d1f;
  background-color: #000000;
  margin-top: 30px;
}
.icons{
  margin-top: 5px;
}

.icons button{
  justify-self: center;
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 240px;
  border-radius: 10px;
  color:#ff6d1f;
  outline:none;
  background-color: white;
  margin-top: 20px;
  color: #000000;
  opacity: 0.8;
  border: 1px solid #222222;
  margin-top: 7px;
}
.mug img{
  margin-bottom: 0;
  margin-top: 200px;
}
.mug{
  /* clip-path: ellipse(70% 50% at 20% 60%); */
  color: #f5e7c6;
}
#purple{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0
  margin-top: 10px;
}
#logintxt{

  font-size: 70px;
  text-align: center;
}
.line{
  background-color: #ddd;
  margin-top: 5px;
}
